<%- include('partials/header.ejs') %>

<h1 style="text-align: center;">The temperature in <%=query%> is currently <%=weatherTemp%> degree celsius</h1>
<h2 style="text-align: center;">The weather is currently <%=weatherDesc%></h2>
<img style="margin-left: auto;margin-right: auto;display:block" src="<%=weatherImage%>" alt="">


<%- include('partials/footer.ejs') %>